#!/usr/bin/env bash

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# navigation
alias ~="cd ~"
alias ..="cd .."
alias -- -="cd -"

# List all files colorized in long format, using LSDeluxe
alias l="lsd -lF -h --group-directories-first"
alias ls="lsd -l -h --group-directories-first"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Toggle visibility of hidden files
alias showFiles="defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app"
alias hideFiles="defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app"

# AWS
alias awsup="aws-credentials export --sso-login -p dev -c dev,default && tunnel start"
alias awsdown="aws-credentials clear --sso-logout -c dev,default; tunnel stop"

# AWS Profiles
alias awsdev="aws-credentials export --sso-login -p dev; export AWS_PROFILE=dev"
alias awsdeploy="aws-credentials export --sso-login -p deploy; export AWS_PROFILE=deploy"
alias awsprod="aws-credentials export --sso-login -p prod-us; export AWS_PROFILE=prod-us"

alias athenadev="aws-credentials export -p dev -c dev,default --sso-login"
alias athenaprod="aws-credentials export -p prod-us -c prod-us,default --sso-login"
