# Purpose: Export environment variables and settings for various tools and utilities
#
# This script is intended to be sourced from your shell's startup file (e.g., .bashrc, .zshrc)
#

# Set manpage path
export MANPATH="/usr/local/man:$MANPATH"

# Make vim the default editor.
export EDITOR='vim';

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# OpenSSL Library paths
export LDFLAGS="-L/opt/homebrew/opt/openssl@3/lib"
export CPPFLAGS="-I/opt/homebrew/opt/openssl@3/include"
