# Purpose: Export useful shell functions for various tasks
#
# This script is intended to be sourced from your shell's startup file (e.g., .bashrc, .zshrc)
#

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Test if an executable or function exists
exists() {
  command -v "$1" >/dev/null 2>&1
}
